<!DOCTYPE html>
{%extends 'base.html'%}
    {%block body_block%}
        <div class="container">
            <div class="jumbotron">
                <h1>Welcome to Intern Assignment </h1><hr>
                <a href="/retrive" class=" btn btn-primary">Client Table</a>
                <a href="/art" class=" btn btn-primary">Artist Table</a>
                <a href="/work" class=" btn btn-primary">Work Table</a><br><br>
                <a href="/logout" class=" btn btn-primary">Logout</a>
                <a href="/register" class=" btn btn-primary">Register</a>
            </div>
        </div>
    {%endblock%}